<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noindex,nofollow" />
  <title>Fundación Tierra de Paz</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/descarga.png">
  <!-- CSS -->
  <link href="/static/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
  <!-- CSS -->
  <link href="/static/dist/css/style.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Preloader -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>

  <!-- Main Wrapper -->
  <div 
   id="main-wrapper" 
   data-layout="vertical" 
   data-navbarbg="skin5" 
   data-sidebartype="full" 
   data-sidebar-position="absolute" 
   data-header-position="absolute" 
   data-boxed-layout="full"
   >
  
    <!-- Barra de Navegacion -->
    <header class="topbar" data-navbarbg="skin5">
      {% include "nav.html" %}
    </header>
    <!-- Fin Barra de Navegacion -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">
      <!-- Page Breadcrumb -->
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Dashboard</h4>
            <div class="ms-auto text-end">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">PRINCIPAL</a></li>
                  <li class="breadcrumb-item active" aria-current="page">General</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Breadcrumb -->

     <!-- Container Fluid -->
      <div class="container-fluid">
        {% include "navp1.html" %}
      </div>
     <!-- Fin Container-Fluid-->


      <!--  Footer  -->
      <footer class="footer text-center">
        All Rights Reserved by Fundacion Tierra de Paz.
      </footer>
      <!--  Fin Footer  -->
    </div>
    <!-- Fin Page Wrapper-->
  </div>
  <!-- Fin Main Wrapper-->

  <!-- Scripts -->
  <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
  <script src="/static/assets/extra-libs/sparkline/sparkline.js"></script>
  <script src="/static/dist/js/waves.js"></script>
  <script src="/static/dist/js/sidebarmenu.js"></script>
  <script src="/static/dist/js/custom.min.js"></script>
  <script src="/static/assets/libs/flot/excanvas.js"></script>
  <script src="/static/assets/libs/flot/jquery.flot.js"></script>
  <script src="/static/assets/libs/flot/jquery.flot.pie.js"></script>
  <script src="/static/assets/libs/flot/jquery.flot.time.js"></script>
  <script src="/static/assets/libs/flot/jquery.flot.stack.js"></script>
  <script src="/static/assets/libs/flot/jquery.flot.crosshair.js"></script>
  <script src="/static/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
  <script src="/static/dist/js/pages/chart/chart-page-init.js"></script>
  <!-- Fin scripts -->
</body>
</html>