<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Fundacion Tierra De Paz</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.png" />
    <!-- CSS -->
    <link href="/static/dist/css/style.min.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
    <!-- Preloader -->
      <div class="preloader">
        <div class="lds-ripple">
          <div class="lds-pos"></div>
          <div class="lds-pos"></div>
        </div>
      </div>

      <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
        <div class="auth-box bg-dark border-top border-secondary">
          <div id="loginform">
            <div class="text-center pt-3 pb-3">
              <span class="db"><img src="/static/assets/images/logo.png" alt="logo" /></span>
            </div>

              <form class="form-horizontal mt-3" id="login-form" action="{% url 'index' %}">
               {% csrf_token %}
          <div class="row pb-4">
            <div class="col-12">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-success text-white h-100">
                    <i class="mdi mdi-account fs-4"></i>
                  </span>
                </div>
                <input type="text" class="form-control form-control-lg" name="username" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1" required />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-warning text-white h-100">
                    <i class="mdi mdi-lock fs-4"></i>
                  </span>
                </div>
                <input type="password" class="form-control form-control-lg" name="Password" placeholder="Contraseña" aria-label="Password" aria-describedby="basic-addon1" required />
              </div>
            </div>
          </div>
          <div class="row border-top border-secondary">
            <div class="col-12">
              <div class="form-group">
                <div class="pt-3">
                  <button class="btn btn-info" method="POST" type="button">
                    <i class="mdi mdi-lock fs-4 me-1"></i> ¿Olvido Su Contraseña?
                  </button>
                  <button class="btn btn-success float-end text-white" type="submit">
                    Acceso
                  </button>
                </div>
              </div>
            </div>
          </div>

              <div id="recoverform">
                <div class="text-center">
                  <span class="text-white">Ingrese Su Correo Electronico y Le Enviaremos Instrucciones Para Recuperar Su Contraseña.</span>
                </div>
                <div class="row mt-3">
                  <form class="col-12" action="index.html">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-danger text-white h-100"><i class="mdi mdi-email fs-4"></i></span>
                      </div>
                      <input type="text" class="form-control form-control-lg" placeholder="Correo Electrónico" aria-label="Username" aria-describedby="basic-addon1" />
                    </div>
                    <div class="row mt-3 pt-3 border-top border-secondary">
                      <div class="col-12">
                        <button class="btn btn-info float-end" type="button" name="action">Recuperar Contraseña</button>
                      </div>
                    </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".preloader").fadeOut();
      $("#to-recover").on("click", function () {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
      });
      $("#to-login").click(function () {
        $("#recoverform").hide();
        $("#loginform").fadeIn();
      });
    });
  </script>
  <!-- Fin scripts -->
  </body>
</html>