<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Fundación Tierra De Paz</title>
    <!-- Favicon -->
    <link rel="icon"type="image/png"sizes="16x16"href="/static/assets/images/logoftdp.png"/>
    <!-- CSS -->
    <link href="/static/dist/css/style.min.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Preloader -->
      <div class="preloader">
        <div class="lds-ripple">
          <div class="lds-pos"></div>
          <div class="lds-pos"></div>
        </div>
      </div>
      <div
        class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-white"
      >
        <div class="auth-box bg-white border-top border-secondary">
          <div>
            <div class="text-center pt-3 pb-3">
              <span class="db"
                ><img src="/static/assets/images/logoftdp.png" alt="logo"
              /></span>
            </div>

            <!-- Formulario de Registro -->
            <form class="form-horizontal mt-3" method="POST" action="{% url 'registro' %}">
              {% csrf_token %}
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-success text-white h-100" id="basic-addon1">
                    <i class="mdi mdi-account fs-4"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  name="nombre"
                  placeholder="Nombres y Apellidos"
                  required
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-success text-white h-100" id="basic-addon1">
                    <i class="mdi mdi-email fs-4"></i>
                  </span>
                </div>
                <input
                  type="email"
                  class="form-control form-control-lg"
                  name="email"
                  placeholder="Correo electrónico"
                  required
                />
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-success text-white h-100" id="basic-addon2">
                    <i class="mdi mdi-lock fs-4"></i>
                  </span>
                </div>
                <input
                  type="password"
                  class="form-control form-control-lg"
                  name="password"
                  placeholder="Contraseña"
                  required
                />
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-success text-white h-100" id="basic-addon2">
                    <i class="mdi mdi-lock fs-4"></i>
                  </span>
                </div>
                <input
                  type="password"
                  class="form-control form-control-lg"
                  name="confirmar_password"
                  placeholder="Confirme su contraseña"
                  required
                />
              </div>

              <div class="row border-top border-secondary">
                <div class="col-12">
                  <div class="form-group">
                    <div class="pt-3 d-grid">
                      <button
                        class="btn btn-block bg-success btn-lg btn-info"
                        type="submit"
                      >
                        Aceptar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <!-- Fin Formulario de Registro -->
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      $(".preloader").fadeOut();
    </script>
    <!-- Fin Scripts -->
  </body>
</html>