{% load bootstrap4 %}
{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Fundación Tierra De Paz</title>
    <!--  Favicon  -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/descarga.png">
    <!--  Stylesheet  -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/extra-libs/multicheck/multicheck.css' %}"/>
    <!--  CSS  -->
    <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet"/>
    <!--  CSS  -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!--  Preloader  -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!--  Main Wrapper  -->
    <div
     id="main-wrapper"
     data-layout="vertical" 
     data-navbarbg="skin5" 
     data-sidebartype="full" 
     data-sidebar-position="absolute" 
     data-header-position="absolute" 
     data-boxed-layout="full"
    >
      <!--  Barra de Navegacion  -->  
      <header class="topbar" data-navbarbg="skin5">
        {% include "nav.html" %}
      </header>
      <!--  Page Wrapper  -->
      <div class="page-wrapper">
        <!--  Page Breadcrumb  -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'general' %}">General</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Proyectos</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!--  Container Fluid  -->
        <div class="container-fluid">
          {% include "navp1.html" %}
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-0">Creación De Proyectos</h5>
                </div>
                <div class="card-body">
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-lg-7 mb-3">
                        <label for="proyecto_id">N°-Proyectos</label>
                        {{ form.proyecto_id|add_class:"form-control" }}
                      </div>

                      <div class="col-lg-7 mb-3">
                        <label for="nombre_proyecto">Nombre</label>
                        {{ form.nombre_proyecto|add_class:"form-control" }}
                      </div>
                     
                     <div class="col-lg-7 mb-3">
                       <label for="actividad">Actividad</label>
                        <div class="d-flex align-items-center">
                          {{ form.actividad|add_class:"form-control me-2" }}
                          <!--{% if perms.principal.add_actividades %}-->
                          <a href="{% url 'principal:crearActividad' %}" class="btn btn-white" title="Crear Actividad">
                            <i class="fas fa-plus"></i> 
                          </a>
                          <!--{% endif %}-->
                        </div>
                      </div>
                      <div class="col-lg-7 mb-3">
                        <label for="beneficiario">Beneficiario</label>
                          <div class="d-flex align-items-center">
                           {{ form.beneficiario|add_class:"form-control me-2" }}
                           <!--{% if perms.principal.add_beneficiarios %}-->
                            <a href="{% url 'principal:crearBeneficiario' %}" class="btn btn-white" title="Crear Beneficiario">
                             <i class="fas fa-plus"></i> 
                            </a>
                            <!--{% endif %}-->
                          </div>
                      </div>

                      <div class="col-lg-7 mb-3">
                        <label for="fecha_inicio" class="form-label">Fecha De Inicio</label>
                        <input type="date" name="fecha_inicio" class="form-control" required id="id_fecha_inicio">
                      </div>

                      <div class="col-lg-7 mb-3">
                        <label for="fecha_fin" class="form-label">Fecha Final</label>
                        <input type="date" name="fecha_fin" class="form-control" required id="id_fecha_fin">
                      </div>

                      <div class="col-lg-7 mb-3">
                        <label for="estado">Estado</label>
                        {{ form.estado|add_class:"form-control" }}
                      </div>

                      <div class="col-lg-7 mb-3">
                        <label for="descripcion">Descripcion</label>
                        {{ form.descripcion|add_class:"form-control" }}
                      </div>
                      <!--{% if perms.principal.add_proyectos %}-->
                      <div class="col-lg-7">
                        <button type="submit" class="btn btn-success">Aceptar</button>
                        <a href="{% url 'principal2:leerProyectos' %}" class="btn btn-danger">Cancelar</a>
                      </div>
                      <!--{% endif %}-->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <!--  Lista de Proyectos  -->
                  <h5 class="card-title">Lista de Proyectos</h5>
                  <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>N°-Proyectos</th>
                          <th>Nombre</th>
                          <th>Actividad</th>
                          <th>Beneficiario</th>
                          <th>Fecha De inicio</th>
                          <th>Fecha Final</th>
                          <th>Estado</th>
                          <th>Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for proyectos in object_list %}
                          <tr>
                            <td>{{ proyectos.proyecto_id }}</td>
                            <td>{{ proyectos.nombre_proyecto }}</td>
                            <td>{{ proyectos.actividad.nombre_actividad}}</td>
                            <td>{{ proyectos.beneficiario }}</td>
                            <td>{{ proyectos.fecha_inicio }}</td>
                            <td>{{ proyectos.fecha_fin }}</td>
                            <td>{{ proyectos.estado }}</td>
                            <td>{{ proyectos.descripcion }}</td>
                            <td>
                              <div class="btn-group">
                                <!--{% if perms.principal.view_proyectos %}-->
                                <a href="detalle/{{ proyectos.proyecto_id }}" title="Ver" class="btn btn-success">Ver</a>
                                <!--{% endif %}-->
                                <!--{% if perms.principal.change_proyectos %}-->
                                <a href="editar/{{ proyectos.proyecto_id }}" title="Editar" class="btn btn-primary">Editar</a>
                                <!--{% endif %}-->
                                <!--{% if perms.principal.delete_proyectos %}-->
                                <form method="POST" action="eliminar/{{ proyectos.proyecto_id }}" onsubmit="return confirm('¿Estás seguro de eliminar este campo?');">
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                                <!--{% endif %}-->
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <script>
                      $("#zero_config").DataTable();
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Scripts  -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <script src="{% static 'dist/js/waves.js' %}"></script>
    <script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'dist/js/custom.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/DataTables/datatables.min.js' %}"></script>
    <!-- Fin Scripts -->
  </body>
</html>
