{% load bootstrap4 %}
{% bootstrap_css %}
{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Fundación Tierra De Paz</title>
    <!--  Favicon  -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/descarga.png">
    <!--  Stylesheets  -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/extra-libs/multicheck/multicheck.css' %}" />
    <!--  CSS  -->
    <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet" />
    <!--  CSS  -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!--  Preloader  -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!--  Main Wrapper  -->
    <div
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin5"
      data-sidebartype="full"
      data-sidebar-position="absolute"
      data-header-position="absolute"
      data-boxed-layout="full"
    >
      <!--  Barra de Navegacion  -->
      <header class="topbar" data-navbarbg="skin5">
        {% include "nav.html" %}
      </header>
      <!--  Page Wrapper  -->
      <div class="page-wrapper">
        <!--  Page Breadcrumb  -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'general' %}">GENERAL</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'principal3:leerRoles' %}">Roles</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detalle</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!--  Container Fluid  -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <!-- Tabla Roles -->
                  <h5 class="card-title">Tabla Roles</h5>
                  <div class="table-responsive">
                    <table id="zero_config" class="table table-bordered">
                      <thead>
                        <tr>
                          <th>N° Roles</th>
                          <th>Nombre</th>
                          <th>Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ roles.rol_id }}</td>
                          <td>{{ roles.nombre_rol }}</td>
                          <td>{{ roles.descripcion }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <a href="{% url 'principal3:leerRoles' %}" class="btn btn-primary">Volver</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Scripts  -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <script src="{% static 'dist/js/waves.js' %}"></script>
    <script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'dist/js/custom.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/DataTables/datatables.min.js' %}"></script>
    <script>
      $("#zero_config").DataTable();
    </script>
    <!-- Fin Scripts -->
  </body>
</html>
