{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Fundación Tierra de Paz</title>
    <!-- Favicon -->
    <link rel="icon"type="image/png"sizes="16x16"href="/static/img/descarga.png">
    <!-- CSS -->
    <link href="/static/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
    <!-- CSS -->
    <link href="/static/dist/css/style.min.css" rel="stylesheet" />
  </head>
  
  <body>
    <!-- Main Wrapper -->
    <div 
     id="main-wrapper"
     data-layout="vertical"
     data-navbarbg="skin5"
     data-sidebartype="full"
     data-sidebar-position="absolute"
     data-header-position="absolute"
     data-boxed-layout="full"
     >
        <!-- Menu De Navegacion -->
        <header class="topbar" data-navbarbg="skin5">
          {% include "nav.html" %}
          <!-- Page Wrapper -->
          <div class="page-wrapper">
        </header>
        
       <div class="card-body">
          <h5 class="card-title mb-0">Listados</h5>
        </div>
        <!-- Container Fluid -->
       <div class="container-fluid">
       {% include "navp3.html" %} 
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card">
                <div class="card-body">  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer text-center">
        All Rights Reserved by Fundacion Tierra De Paz. 
      </footer>
    </div>
    </div>

    <!-- Scripts -->
    <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="/static/dist/js/waves.js"></script>
    <script src="/static/dist/js/sidebarmenu.js"></script>
    <script src="/static/dist/js/custom.min.js"></script>
    <script src="/static/assets/libs/flot/excanvas.js"></script>
    <script src="/static/assets/libs/flot/jquery.flot.js"></script>
    <script src="/static/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="/static/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="/static/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="/static/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="/static/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/static/dist/js/pages/chart/chart-page-init.js"></script>
    <!-- Fin Scripts -->
  </body>
</html>
