<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundacion Tierra De Paz</title>
    <!--  Favicon  -->
    <link rel="icon" href="img/descarga.png">
    <!--  CSS -->
    <link rel="stylesheet" href="reset.css">
    <!--  CSS -->
    <link rel="stylesheet" href="style.css">
</head>

<!-- Redes Sociales -->
<body>
  <div class="social-header">
    <a href="https://www.instagram.com/fundaciontierradepaz/" target="_blank">
        <img src="/static/img/instagram2.png"  alt="Instagram">
    </a>
    <a href="https://www.facebook.com/funtierradepaz/" target="_blank">
        <img src="/static/img/facebook3.png"alt="Facebook">
    </a>
    <a href="https://www.youtube.com/channel/UCIarzbmGshIZJ5zbGo3bEtA" target="_blank">
        <img src="/static/img/youtube2.png" alt="YouTube">
    </a>
    <a href="https://www.youtube.com/channel/UCIarzbmGshIZJ5zbGo3bEtA" target="_blank">
        <img src="/static/img/twitter.png"alt="Twitter">
    </a>
  </div>
  <!--  Redes Sociales  -->
  
    <!--  Menu de Navegacion   -->  
    <header>
        <div class="caja">
            <h1><img  src="/static/img/TDP-Horizontal-Full-Color.png" href="{% url 'index1' %}" class="Fundacion"></h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Inicio</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="La_fundacion">La Fundacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="registro">Registrate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="Contacto">Contactenos</a>
                    </li>
                </ul>
            </nav>
        </div>  
    </header>
    <!--  Fin Menu de navegacion  -->
    <main>
        <!-- Formulario restablecimiento de contraseña-->
        <section>
            <img class="fondo" src="img/fondo.png">
            <div class="restablece-box">
                <img  src="img/logo2.png" class="logo2" alt="logo">
                <h1>RESTABLECER CONTRASEÑA</h1>
                <form class="formulario restablecimiento">
                    
                    <label for="password">Ingrese Su Nueva Contraseña</label>
                    <input type="password" class="inputs-restablece" placeholder="ingrese contraseña" ></input>
                    
                    <label for="password">Confirme Su Contraseña</label>
                    <input type="password" class="inputs-restablece" placeholder="Confirme Su Contraseña"></input>
        
                    <input type="submit" value="restablecer" class="restablecer">
                    
                    <a href="registrarse.html">Registrarse</a>
                    <a href="restablececlave.html">¿Olvido Su Contraseña?</a>
                </form>
            </div>
        </section>
        <!-- Fin Formulario restablecimiento de contraseña-->
    </main>

    <!-- Footer -->
    <footer>
        <div>
            <img width="120px" height="120px" src="img/logo1.png">
            <p class="copyright">&copy Copyright Fundacion Tierra De Paz</p>
        </div>
        <div class="redes-sociales">
            <h1>Siguenos En Nuestras Redes</h1>
            <a title="instagram" href="http://www.instagram.com"><img  src="img/instagram.png" alt="instagram" /></a>
            <a title="facebook" href="http://www.facebook.com"><img  src="img/facebook.png" alt="facebook" /></a>
            <a title="youtube" href="http://www.youtube.com"><img src="img/youtube.png" alt="youtube" /></a>
        </div>
    </footer>
    <!-- Fin Footer-->
</body>
</html>